<network>
  <name>{{ item.name }}</name>
  <bridge name='{{ item.name }}' stp='on' delay='0'/>
  <mac address='{{ item.ipaddr | ipmac( hypervisor_id ) }}'/>
  <domain name='{{ item.name }}'/>
{% if item.ipaddr is defined %}
  <ip address='{{ item.ipaddr }}' netmask='{{ item.netmask }}'>
  </ip>
{% endif %}
</network>
